.whiteThem-table tbody {
  background: white;
  color: black;
  border: 1px solid black;
}
.whiteThem-table tbody tr td,
.whiteThem-table tbody tr th {
  padding: 0px;
  font-size: 11px;
  vertical-align: top;
}
.whiteThem-table tbody th {
  background: #c6c8ca;
  font-weight: 700;
}
.whiteThem-table tbody td {
  background: white;
}

.whiteThem-table-input {
  height: 16px;
  font-size: 11px;
  /* background: #42ff0038; */
  text-align: right;
  padding: 15px 5px;
  line-height: 28px;
}
