.whiteThem-table thead th {
  position: relative;
  position: sticky;
  top: 0;
  z-index: 1;
}
.whiteThem-table tbody {
  background: white;
  color: black;
  border: 1px solid black;
}
.whiteThem-table tbody tr td,
.whiteThem-table tbody tr th {
  padding: 0px;
  font-size: 11px;
  vertical-align: top;
  border: 1px solid black;
}
.whiteThem-table tbody th {
  background: #c6c8ca;
  font-weight: 700;
  border: 1px solid black;
}
.whiteThem-table tbody td {
  background: white;
  border: 1px solid black;
}

.whiteThem-table-input {
  height: 16px;
  font-size: 11px;
  /* background: #42ff0038; */
  text-align: right;
  /* padding: 15px 5px; */
  line-height: 28px;
  border: none;
  /* width: 70px; */
}
.whiteThem-table-item {
  width: 70px;
}
.whiteThem-table-descripcion {
  /* width: 400px; */
  font-size: 10px;
}
.whiteThem-table-propiedades {
  width: 90px;
}
