.scroll-container {
	/* width: 400px; anchura fija del contenedor */
	overflow: scroll; /* establece el scroll en el contenedor */
}

.scroll-content {
	width: 800px; /* anchura del contenido */
}

/* animación para el movimiento del scroll */
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
