# Dependencias
/node_modules

# Archivos de compilación
/dist
/build

# Archivos de configuración
*.env
*.env.local
*.env.development
*.env.production
*.env.test

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración del editor
.idea
.vscode

# Archivos y directorios generados automáticamente
/public/.htaccess
/.cache
/.eslintcache
/.next
/.pnp
.pnp.js

# Directorios de prueba
/__tests__/
/coverage/

# Archivos de Storybook
/storybook-static/

# Otros archivos y directorios ignorados
*.bak
*.swp
*.swo
*~