.cuadroMetrados {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.cuadroMetrados th,
.cuadroMetrados td {
  width: auto;
}
.cuadroMetrados .stickyTitulo {
  position: sticky;
  left: 0px;
  background: #242526;
}
.cuadroMetrados .stickyTitulo2 {
  position: sticky;
  left: 78px;
  background: #242526;
}
.cuadroMetrados .stickyTitulo3 {
  position: sticky;
  left: 430px;
  background: #242526;
}
.cuadroMetrados .sticky {
  position: sticky;
  left: 0px;
}
.cuadroMetrados .sticky2 {
  position: sticky;
  left: 78px;
}
.cuadroMetrados .sticky3 {
  position: sticky;
  left: 510px;
}
.cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 430px;
}
.cuadroMetrados .item {
  width: 78px;
}
.cuadroMetrados .descripcion {
  width: 430px;
}
.cuadroMetrados .unidad_medida {
  width: 49px;
  white-space: normal;
}
.cuadroMetrados .metrado {
  width: 15%;
  white-space: normal;
}
.cuadroMetrados .metrado_anterior {
  width: 19%;
  white-space: normal;
}
.cuadroMetrados .dia {
  width: 10%;
}
.cuadroMetrados .total {
  width: 20%;
}
.cuadroMetrados .saldo {
  width: 20%;
}
.cuadroMetrados .recursotitulo {
  width: 100%;
}
.cuadroMetrados .recurso {
  width: 60px;
  white-space: normal;
}
