/* TABS */
.tabTP {
  border: 1px solid white !important;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

.tabTP.active {
  background-color: #F2A93B !important;
  
}

/* MODAL */

.modal-xl {
  margin-top: 7%;
}
.modal-lg{
  margin-top: 7%;
}
.modal-so{
  margin-top: 7%;
}
.modal-delete .modal-content{
  border-color: #DC3545 ;
}
.modal-delete .modal-header{
  /* background-color: #DC3545; */
  color: white;
  border-radius: 20px 20px 0 0;
}

.close {
  color: red !important; /* Cambia el color del botón de cierre a rojo */
}

.modal-content {
  background-color: #121212 !important;
  border-color: #F2A93B ;
  border-radius: 20px;
}
.text-btn{
  font-size: 10px;
  font-weight: bold;
  margin-top: -2px;
}
.text-modal{
  color: #F2A93B;
}

.table-MM input {
  margin: 0;
  border-radius: 0!important;
  border: 0px;
}
.table-MM input:focus {
  outline: none !important; 
  box-shadow: inset 0 0 5px #F2A93B;
}
.table-MM td {
  padding: 0 !important;
}

.alertMD {
  position: absolute;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.8);
  font-size: 8px;
  opacity: 0.8;
  border-radius: 5px;
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
  z-index: 1;
}
.alertMD::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 3px;
  border-width: 0 3px 3px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
.error-border{
  border: 5px solid aqua !important;
}
