.tareas{
  display: flex;
}
.containerTarea{
  width: 100%;
}
.headerTarea{
  background: aliceblue;
  color: black;
  font-weight: bold;
  display: flex;
}

.nombreProyectoP{
  top: 29px;
  position: absolute;
  color: #000;
  font-weight: bold;
  right: 42px;
}


.bodyTarea{
  background: #f78a07;
  color: black;
  padding: 4px;
  font-weight: bold;
  height: 100px;
  vertical-align: middle;
}


.bodyTareaProyecto{
  background: #f78a07;
  color: black;
  padding: 4px;
  font-weight: bold;
  /* height: 100px; */
  vertical-align: middle;
}

/* proyectos P1  */

.proyectoBorder{
  width: 100%;
  border-bottom: 2px solid #0080ff;
  display: flex;
}
.numeroProyecto{
  
  color: black;
  font-weight: bold;
  padding: 4px;
  margin-bottom: -2px;
}
.nombreProyecto{
  background: #0080ff;
  color: black;
  font-weight: bold;
  padding: 4px;
}

.brLeft{
  border-left: 2px solid #0080ff
}
.brRight{
  border-right: 2px solid #0080ff

}


.imgCircular{
  /* width: 150px;
  height: 150px; */
  border-radius: 50%;
  /* margin: 20px; */
  -o-object-fit: cover;
      object-fit: cover;
  /* -o-object-position: center right;
      object-position: center right; */
}

.fondoSubord{
  background: #0080ff3b;
  padding: 4px;
  border-radius: 2%;
}
/* formmm */
.formPositContainer{
  padding: 8px;
  position: sticky;
  top: 0px;
  margin-left: 13px;
  height: calc(100% - 84%);
  width: 290px;
  transition: all 0.4s;

}

.widthFormPositContentCierra{
  width: 0%;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}
