.aviso p {
    color: #8caeda;
    /* border-radius: 15px; */
    text-align: center;
    height: 50px;
    width: 1000;
    /* border: 1px solid rgba(51, 153, 204, 0.267); */
    background: #4a4b4c;
    margin-bottom: 5px;

}

.fondo {
    color: #ffffff;
    text-align: center;
    height: 60px;
    width: 1000;
    /* border: 1px solid rgba(51, 153, 204, 0.267); */
    /* background: #a5a5a5; */
    background-image: url("../images/banner7.jpg");
    margin-bottom: 5px;
    background-size: cover; 
     background-position: 50% 0%;
     /* border-radius: 15px; */
     font-size: large;

}
.textoaviso {
    padding-top: 2px;
    text-align: left;
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 3px;
    -webkit-animation-name : animated1;
    -webkit-animation-duration : 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

}
@-webkit-keyframes animated1 {
    
    from{
        text-shadow: 0 0 10px rgb(0, 0, 0);
    color: #17a2b8;

    }
    to{
        text-shadow: 0 0 10px #ffffff;
    color: rgb(255, 255, 255);

    }
}
/* texto del aviso */
