.aviso p {
    color: #d8d8d8;
    /* border-radius: 9px; */
    text-align: center;
    height: 50px;
    width: 1000;
    /* border: 1px solid rgba(51, 153, 204, 0.267); */
    background: #3a3b3c;
    margin-bottom: 5px;

}
.textoaviso {
    padding-top: 2px;
    text-align: left;
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 3px;
    -webkit-animation-name : animated1;
    -webkit-animation-duration : 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

}
@-webkit-keyframes animated1 {
    
    from{
        text-shadow: 0 0 10px rgb(0, 0, 0);
    color: #17a2b8;

    }
    to{
        text-shadow: 0 0 10px #ffffff;
    color: rgb(255, 255, 255);

    }
}
/* texto del aviso */
