.aviso p {
  color: #000000;
  border-radius: 10px;
  text-align: justify;
  height: auto;
  width: auto;
  font-family: "Patrick Hand SC", cursive;
  font-size: medium;
  font-weight: bold;
  /* border: 1px solid rgba(51, 153, 204, 0.267); */
  background: rgba(237, 237, 237, 1);
  background: -moz-linear-gradient(
    top,
    rgba(237, 237, 237, 1) 0%,
    rgba(227, 227, 227, 1) 47%,
    rgba(219, 219, 219, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(237, 237, 237, 1)),
    color-stop(47%, rgba(227, 227, 227, 1)),
    color-stop(100%, rgba(219, 219, 219, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(237, 237, 237, 1) 0%,
    rgba(227, 227, 227, 1) 47%,
    rgba(219, 219, 219, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(237, 237, 237, 1) 0%,
    rgba(227, 227, 227, 1) 47%,
    rgba(219, 219, 219, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(237, 237, 237, 1) 0%,
    rgba(227, 227, 227, 1) 47%,
    rgba(219, 219, 219, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(237, 237, 237, 1) 0%,
    rgba(227, 227, 227, 1) 47%,
    rgba(219, 219, 219, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dbdbdb', GradientType=0 );
}

.textoaviso {
  padding-top: 2px;
  text-align: left;
  font-size: 13px;
  margin-bottom: 3px;
  margin-top: 3px;
  -webkit-animation-name: animated1;
  -webkit-animation-duration: 1.1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
@-webkit-keyframes animated1 {
  from {
    text-shadow: 0 0 10px rgb(0, 0, 0);
    color: #17a2b8;
  }
  to {
    text-shadow: 0 0 10px #ffffff;
    color: rgb(255, 255, 255);
  }
}
/* texto del aviso */
