.modal-login {
    color: #636363;
    width: 350px;
}

.modal-login {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px 0px #ffffff;
}

.modal-login .modal-headers {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login h4 {
    text-align: center;
    font-size: 20px;
    margin: 9px 0 -6px;
}


.modal-login .modal-footer a {
    color: #999;
}

/* .modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -79px;
    width: 128px;
    height: 118px;
    border-radius: 50%;
    z-index: 9;
    background: #3a4856;
    padding: 15px;
    box-shadow: 0 0 6px 3px #60c7c1;
} */

.modal-login .avatar img {
    width: 100%;
}

.modal-login {
    margin-top: 80px;
    color: #fff;
    
}

.container-dialog{
    max-width: 300px;
    margin: 1.75rem auto;
    margin-top: 100px;
}

