body {
  font-size: .7rem !important;
  color: #fff !important;
  background-color: #2e3742;
  /* background-color: #343a4005 !important; */
}


/*  Sidebar */
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 50px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: 0.7rem;
}

.sidebar-sticky {
  position: relative;
  top: 50px;
  height: calc(100vh - 50px);
  /* padding-top: .5rem; */
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}



@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}


/* texto barra navegacion izquierda */
.sidebar .nav-link {
  margin-right: 0px;
  color: rgb(255, 255, 255);
}
/* 
.sidebar .nav-link .active {
  color: #0080ff;
} */


/*
 * Content
 */

[role="main"] {
  padding-top: 4px;
}

/* Navbar */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, 0.25); */
  box-shadow: inset -1px 0 0 rgba(46, 14, 14, 0.25);
}


/* nav izquierda  angerman  */

.navbarExplandLeft  {
  -webkit-transition: width 3s;
  transition: width 3s;
  border-right: 1px solid #000;
}

.navbarCollapseLeft{
  width: 0px;
  position: inherit;   
}
/*fin nav izquierda  angerman  */

/* nav derecha  */
.navbarExplandRight{
  width: 50px;
}
.navbarCollapseRight{
  display: none
}
/* fin nav derecha  */


@media only screen and (max-width: 767px) {
  .navbarExplandLeft {
    width: 45%;
    position: absolute;
    -webkit-transition: width 0.5s;
    transition: 0.5s;
    border-right: 1px solid #000;
  }

  .navbarCollapseLeft  {
    display: none

  }
  
  .navbarExplandRight {
    display: none
  }

  /* .navbarCollapse .sidebar-sticky .nav .lii span {
    display: none;
  } */

}



/* menu vertical angerman */
.menu-vertical {
  margin: 0;
  padding: 0;
}

.ull .menu-vertical {
  list-style-type: none;
  /* background-color: #f1f1f1; */
}

.lii a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid #1d2029;
}

.lii a.active {
  background-color:#0080ff;;
  color: white !important;
}

.lii a:hover:not(.active) {
  background-color: #0080ff !important;
}



/* SCROLL ANG95 */
.scroll_contenido{
  position: absolute;
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  
}
.scroll_contenido::-webkit-scrollbar {
  width: 0.5em;
}

.scroll_contenido::-webkit-scrollbar-thumb {
  background-color:#2d78b9;;
  outline: 2px solid rgb(255, 0, 0);
}

/* SCROLL NAV VERTICAL ----------------------------------------------- */
.sidebar-sticky::-webkit-scrollbar {
  width: 0.5em;
}
.sidebar-sticky::-webkit-scrollbar-thumb {
  background-color: rgb(195, 202, 190);
  outline: 5px solid rgb(255, 0, 0);
}

.posAbajo{
  bottom: 3px;
  position: absolute;
  left: 97%;
}

/* FondoBarraSuperior */
.FondoBarra{
  background: #1d2029;
}

/* bordes propios */
.border-button{
  border-bottom: 1px solid #000000
}
.border-left{
  border-left: 1px solid #000000!important;
}
.border-top{
  border-top: 1px solid #000000!important;
}
.texto-rojo{
  color: #ff5959;
}
.abajoCirculos{
  /* /* bottom: 0px;
  position: absolute; */
  width: 100%; 
  padding-top: 45%;
}

/* tamaño de fuente pequeño */
.fsize{
  font-size: 0.5rem
}

/* color de tabla actividades */

.bg-mm {
  background-color: #ecc30636!important;
}