body {
  font-size: .789rem !important;
  background-color: #343a4005 !important;
}

/*  Sidebar */
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 50px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: 0.7rem;
}

.sidebar-sticky {
  position: relative;
  top: 50px;
  height: calc(100vh - 50px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link {
  margin-right: 0px;
  color: #000;
}

.sidebar .nav-link .active {
  color: #00ff4c;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 48px;
}

/* Navbar */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(46, 14, 14, 0.25);
}


/* nav  angerman  */

.navbarExpland {
  position: inherit;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.navbarCollapse {
  width: 0px;
  position: inherit;
  -webkit-transition: width 0.5s;
  transition: width 0.5s
}

@media only screen and (min-width: 10px) {
  .navbarExpland {
    width: 50px;
    position: inherit;
    -webkit-transition: width 0.5s;
    transition: 3s;
  }

  .navbarCollapse .col-md-2 {
    width: 50px;
    position: inherit;
    -webkit-transition: width 0.5s;
    transition: width 0.5s
  }

  .navbarCollapse .sidebar-sticky .nav .lii span {
    display: none;
  }

}



/* menu vertical angerman */
.menu-vertical {
  margin: 0;
  padding: 0;
}

.ull .menu-vertical {
  list-style-type: none;
  background-color: #f1f1f1;
}

.lii a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid #cccccc;
}

.lii a.active {
  background-color: #1e7d34;
  color: white !important;
}

.lii a:hover:not(.active) {
  background-color: #d6dbe0 !important;
}

.btn-activo {
  background-color: #1e7d34;
  color: white !important;
}


/* ------------------------------------ mis correcciones a bootstrap 4  ----------------------*/
.card {
  border-radius: 0rem;
}

.dropdown-menu {
  border-radius: .0rem;
}

/* fieldset  */

fieldset {
  padding: 5px;
  margin: 0px;
  border: 1px solid #dfdfdf;
}

/* legend  */
legend {
  display: block;
  max-width: max-content;
  padding: 2px 6px 2px 8px;
  margin-bottom: 0.3rem;
  font-size: 0.7rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
  border: 1px solid #dfdfdf;
  box-shadow: 2px 3px 4px 0px #e7e7e7;
}
/* corecccion de bootstrap 4 -_-------------------__________________________________*/
/* nav-tabs */
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  background-color: rgba(0, 0, 0, .03);
  padding-top: 6px;
  padding-left: 8px;
}

/* .popover--------------------------------------- */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 417px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0rem;
}
.modal-content {
  border-radius: .0rem;
  outline: 0;
}
/* button clase btn */
.btn {
  padding: 0.275rem 0.35rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: .0rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* SCROLL ANG95 */

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(145, 148, 145);
  outline: 2px solid rgb(255, 0, 0);
}

/* SCROLL NAV VERTICAL ----------------------------------------------- */
.sidebar-sticky::-webkit-scrollbar {
  width: 0.5em;
}

.sidebar-sticky::-webkit-scrollbar-thumb {
  background-color: rgb(195, 202, 190);
  outline: 5px solid rgb(255, 0, 0);
}

/* navs bs4 */
.nav-item {
  cursor: pointer;
}

/* readonly clases de bootstrap 4 */
.form-control:disabled,
.form-control[readonly] {
  background-color: #f8f9fa;
  opacity: 1;
}