body {
  font-size: .7rem !important;
  color: #fff !important;
  background-image: url(http://akveo.com/blur-admin/assets/img/blur-bg.jpg);
}


/*  Sidebar */
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 50px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: 0.7rem;
}

.sidebar-sticky {
  position: relative;
  top: 50px;
  height: calc(100vh - 50px);
  /* padding-top: .5rem; */
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}



@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}


/* texto barra navegacion izquierda */
.sidebar .nav-link {
  margin-right: 0px;
  color: rgb(255, 255, 255);
}
/* 
.sidebar .nav-link .active {
  color: #0080ff;
} */


/*
 * Content
 */

[role="main"] {
  padding-top: 4px;
}

/* Navbar */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, 0.25); */
  box-shadow: inset -1px 0 0 rgba(46, 14, 14, 0.25);
}


/* nav izquierda  angerman  */

.navbarExplandLeft  {
  -webkit-transition: width 3s;
  transition: width 3s;
  border-right: 1px solid #000;
}

.navbarCollapseLeft{
  width: 0px;
  position: inherit;   
}
/*fin nav izquierda  angerman  */

/* nav derecha  */
.navbarExplandRight{
  width: 50px;
}
.navbarCollapseRight{
  display: none
}
/* fin nav derecha  */


@media only screen and (max-width: 767px) {
  .navbarExplandLeft {
    width: 45%;
    position: absolute;
    -webkit-transition: width 0.5s;
    transition: 0.5s;
    border-right: 1px solid #000;
  }

  .navbarCollapseLeft  {
    display: none

  }
  
  .navbarExplandRight {
    display: none
  }

  /* .navbarCollapse .sidebar-sticky .nav .lii span {
    display: none;
  } */

}



/* menu vertical angerman */
.menu-vertical {
  margin: 0;
  padding: 0;
}

.ull .menu-vertical {
  list-style-type: none;
  /* background-color: #f1f1f1; */
}

.lii a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid #1d2029;
}

.lii a.active {
  background-color:#0080ff;;
  color: white !important;
}

.lii a:hover:not(.active) {
  background-color: #0080ff !important;
}



/* SCROLL ANG95 */
.scroll_contenido{
  position: absolute;
  height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  
}
.scroll_contenido::-webkit-scrollbar {
  width: 0.5em;
}

.scroll_contenido::-webkit-scrollbar-thumb {
  background-color:#2d78b9;;
  outline: 2px solid rgb(255, 0, 0);
}

/* TABLE RESPONSIVE SCROLL PERSONALIZADO  */

.table-responsive {
  display: block;
  width: 100%;
  overflow: auto;

}

/* Tamaño del scroll */
.table-responsive::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;

}

 /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.table-responsive::-webkit-scrollbar-thumb {
  background: #0080ff;
  border-radius: 4px;
  cursor: pointer;

}

/* Cambiamos el fondo cuando esté en active */
.table-responsive::-webkit-scrollbar-thumb:active {
  background-color: #5688ff;
  cursor: pointer;

}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #3b9dff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.table-responsive::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.table-responsive::-webkit-scrollbar-track:hover, 
.table-responsive::-webkit-scrollbar-track:active {
  background: #d4d4d4;
  cursor: pointer;

}






/* SCROLL NAV VERTICAL ----------------------------------------------- */
.sidebar-sticky::-webkit-scrollbar {
  width: 0.5em;
}
.sidebar-sticky::-webkit-scrollbar-thumb {
  background-color: rgb(195, 202, 190);
  outline: 5px solid rgb(255, 0, 0);
}

.posAbajo{
  bottom: 3px;
  position: absolute;
  left: 97%;
}

/* FondoBarraSuperior */
.FondoBarra{
  background: #1d2029;
}

/* bordes propios */
.border-button{
  border-bottom: 1px solid #000000
}
.border-left{
  border-left: 1px solid #000000!important;
}
.border-top{
  border-top: 1px solid #000000!important;
}
.texto-rojo{
  color: #ff5959;
}
.abajoCirculos{
  /* /* bottom: 0px;
  position: absolute; */
  width: 100%; 
  padding-top: 45%;
}

/* tamaño de fuente pequeño */
.fsize{
  font-size: 0.5rem
}

/* color de tabla actividades */

.bg-mm {
  background-color: #475563b3;
}

.tdData{
  border-left: #000;
}
.tdData:hover{
  cursor: pointer;
  background-color:#0080ff;
}

.tdData1{
  background-color:#0080ff;
}
.tdData1:hover{
  cursor: pointer;
  background-color:#0080ff;
}

.aprecerIcon{
  display: none;
}


.resplandPartida{
  border-bottom: 2px solid #0080ff;
  background: #314c65
}

.icoVer{
  align-self: auto;
}

.icoVer:hover .aprecerIcon{
  display: inline-flex;
  right: 334px;
  position: absolute;
  border-radius: 8px;
  margin-top: -2px;
  background: #2f3944d1;
  padding-left: 5px;
}

/* damos clases a los iconos que pararecen en el td de las tablas */

.iconoTr{
  margin-right: 5px;
  cursor: pointer;
}
.iconoTr:hover{
  background: #6d757e;
  margin-right: 5px;
  border-radius: 8px;
  padding: 4px;
  margin-top: -2px;
}

.resplandPartidabottom{
  border: 2px solid #0080ff;
}
/* pone posicion fixed a los header de la tabla */


/* fin pone posicion fixed a los header de la tabla */

iframe{
  border:none;
}
iframe::-webkit-scrollbar {
  width: 0.5em;
}

iframe::-webkit-scrollbar-thumb {
  background-color:#2d78b9;;
  outline: 2px solid rgb(255, 0, 0);
}



/* prioridad css */

.prioridad{
  margin-right: 5px;
  cursor: pointer;
}
.prioridad:hover{
  color: #0080ff;
  font-size: 17px;
  position: absolute
}
/* 
.btnPriory{
  display: none;
}

.prioridad:hover .btnPriory {
  display: block;
  position: relative;
}
 */


/* prioridad cuando de hace hover css */
   
/* .circle-container {
  position: relative;
  width: 0.5em;
  height: 0.5em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
  margin: 0px;
} */

/* .circle-container > * {
  display: block;

  position: absolute;
  
  top: -251%;
  
  left: 34%;
  
  width: 0.5em;
  
  height: 0em;
  
  margin: 0em;
}
.circle-container > :nth-of-type(1) {
  transform: rotate(-87deg) translate(2em) rotate(87deg);
}
.circle-container > :nth-of-type(2) {
  transform: rotate(-15deg) translate(2em) rotate(15deg);
}
.circle-container > :nth-of-type(3) {
  transform: rotate(53deg) translate(2em) rotate(-53deg);
}
.circle-container > :nth-of-type(4) {
  transform: rotate(153deg) translate(2em) rotate(-153deg);
}
.circle-container > :nth-of-type(5) {
  transform: rotate(204deg) translate(2em) rotate(-204deg);
} */