html,
body {
  /* height: 100%; */

  font-size: 0.9rem !important;
  color: #cecece !important;
  /* background-image: url("../images/blur-bg.jpg"); */
  /* background-position: 50% 0%; */
  /* background-repeat: no-repeat;
  background-size: cover; */
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  background: #242526 !important;
  /* #171819 */
}

/*  Sidebar */
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  /* Height of navbar */
  /* box-shadow: inset -1px 0 0 rgb(255, 255, 255); */
  font-size: 0.8rem;
}

.sidebar-sticky {
  position: relative;
  top: 50px;
  height: calc(100vh - 50px);
  /* padding-top: .5rem; */
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/* texto barra navegacion izquierda */
.sidebar .nav-link {
  margin-right: 0px;
  color: #ffffff;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 4px;
}

/* nav izquierda menu principal */

.navbarExplandLeft {
  -webkit-transition: width 0.5s;
  transition: 0.5s;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  background: #171819;
}

.navbarCollapseLeft {
  width: 0px;
  position: inherit;
  -webkit-transition: width 0.5s;
  transition: 0.5s;
  flex: 0 0 0%;
  max-width: 0%;
  opacity: 0;
}

/*fin nav izquierda  angerman  */

/* nav derecha  */
.navbarExplandRight {
  width: 50px;
}

.navbarCollapseRight {
  display: none;
}

/* fin nav derecha  */

@media only screen and (max-width: 767px) {
  .navbarExplandLeft {
    width: 200px !important;
    position: absolute;
    -webkit-transition: width 0.5s;
    transition: 0.5s;
    background: #171819;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .navbarCollapseLeft {
    width: 0px;
    position: absolute;
    -webkit-transition: width 0.5s;
    transition: 0.5s;
    /* border-right: 1px solid #171819;
    background: #1d202a; */
  }

  .navbarExplandRight {
    display: none;
  }

  /* .ButtonToogleMenu{
    margin-left: 133px!important;
  } */
}

/* letra sigobras escoder */
.textSigobras {
  text-shadow: 0 0 6px #ffffff;
  color: #ffffff;
}

/* fin letra sigobras escoder */

/* ButtonToogle menu */
.ButtonToogleMenu {
  cursor: pointer;
  margin-left: 70px;
}

/* cambia diseñoe la medida */
@media only screen and (max-width: 1015px) {
  .textSigobras {
    display: none;
  }
}

/* menu vertical angerman */
.menu-vertical {
  margin: 0;
  padding: 0;
}

.ull .menu-vertical {
  list-style-type: none;
  /* background-color: #f1f1f1; */
}

.lii a {
  display: block;
  color: #e6e6e6;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid #262728;
}

.lii a.active {
  background-color: #0080ff;
  color: #fffefe !important;
}

.lii a:hover:not(.active) {
  background-color: #0080ff !important;
}

/* SCROLL ANG95 */
.scroll_contenido {
  position: absolute;
  /* height: calc(100vh - 83px); */
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.scroll_contenido::-webkit-scrollbar {
  width: 0.6em;
}
/* scrol de partidas */
.scroll_contenido::-webkit-scrollbar-thumb {
  background-color: #0080ff;
  outline: 0px solid rgb(255, 0, 0);
}

/* TABLE RESPONSIVE SCROLL PERSONALIZADO  */

.table-responsive {
  display: block;
  width: 100%;
  overflow: auto;
}

/* Tamaño del scroll */
.table-responsive::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.table-responsive::-webkit-scrollbar-thumb {
  background: #0080ff;
  border-radius: 4px;
  cursor: pointer;
}

/* Cambiamos el fondo cuando esté en active */
.table-responsive::-webkit-scrollbar-thumb:active {
  background-color: #5688ff;
  cursor: pointer;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #3b9dff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.table-responsive::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.table-responsive::-webkit-scrollbar-track:hover,
.table-responsive::-webkit-scrollbar-track:active {
  background: #d4d4d4;
  cursor: pointer;
}

/* SCROLL NAV VERTICAL ----------------------------------------------- */
.sidebar-sticky::-webkit-scrollbar {
  width: 0.5em;
}
/* scroll del menu principal */
.sidebar-sticky::-webkit-scrollbar-thumb {
  background-color: #0080ff;
  outline: 0px solid rgb(255, 255, 255);
}

.posAbajo {
  bottom: 3px;
  position: absolute;
  left: 97%;
}

/* FondoBarraSuperior */
.FondoBarra {
  background: #171819;
}

/* bordes propios */
.border-button {
  border-bottom: 1px solid #171819;
}

.border-left {
  border-left: 1px solid #171819 !important;
}

.border-top {
  border-top: 1px solid #171819 !important;
}

.texto-rojo {
  color: #ff5959;
}

.abajoCirculos {
  /* /* bottom: 0px;
  position: absolute; */
  width: 100%;
  /* padding-top: 45%; */
}

.codigoObra {
  text-align: center;
  font-size: 2em;
  font-family: courier new;
  font-weight: bolder;
}

.detallesObra {
  /* /* bottom: 0px;
  position: absolute; */
  width: 100%;
  padding-top: 15px;
}

.ContentpresupuestoObra {
  display: flex;
  justify-content: center;
}
/* presupuesto de la obra en el circulo de porcentaje */
.PresuObra {
  background: #3a3b3c;
  border-radius: 3px;
  padding: 3px;
  font-family: -webkit-body;
}

/* tamaño de fuente pequeño */
.fsize {
  font-size: 0.5rem;
}

/* color de tabla actividades */

.tdData {
  border-left: #272829;
}

.tdData:hover {
  cursor: pointer;
  background-color: #0080ff;
}

.tdData1 {
  background-color: #0080ff;
}

.tdData1:hover {
  cursor: pointer;
  background-color: #0080ff;
}

.aprecerIcon {
  display: none;
}

.resplandPartida {
  border-bottom: 2px solid #0080ff;
  background: #3a3b3c;
}

.icoVer {
  align-self: auto;
}

.icoVer:hover .aprecerIcon {
  display: inline-flex;
  right: 334px;
  position: absolute;
  border-radius: 8px;
  margin-top: -2px;
  background: #2f3944d1;
  padding-left: 5px;
}

/* damos clases a los iconos que pararecen en el td de las tablas */

.iconoTr {
  margin-right: 5px;
  cursor: pointer;
}

.iconoTr:hover {
  background: #6d757e;
  margin-right: 5px;
  border-radius: 8px;
  padding: 4px;
  margin-top: -2px;
}

.resplandPartidabottom {
  border: 2px solid #0080ff;
}

/* pone posicion fixed a los header de la tabla */

/* fin pone posicion fixed a los header de la tabla */
/*
iframe {
  border: none;
}

iframe::-webkit-scrollbar {
  width: 0.5em;
}

iframe::-webkit-scrollbar-thumb {
  background-color: #2d78b9;
  ;
  outline: 2px solid rgb(255, 0, 0);
} */

/* prioridad css */

.prioridad {
  cursor: pointer;
}

/* .prioridad:hover{
  color: #0080ff;
  font-size: 17px;
  position: absolute
} */
/* clases temporales */

.menuCirculo {
  position: absolute;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  -webkit-transition: width 2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

/* CIRCULO GIRATORIO CON PALETA DE COLORES EN PARTIDAS PARA ELEGIR LA PRIORIDAD  ===========================*/
.circleColor {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 22px);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.circleColor:nth-child(1) {
  transform: translateX(18px);
}

.circleColor:nth-child(2) {
  transform: rotate(72deg) translateX(18px);
}

.circleColor:nth-child(3) {
  transform: rotate(144deg) translateX(18px);
}

.circleColor:nth-child(4) {
  transform: rotate(216deg) translateX(18px);
}

.circleColor:nth-child(5) {
  transform: rotate(288deg) translateX(18px);
}

/* CIRCULO CON COLERES PARA SELECCIONAR EL FILTRADO POR COLOR  */
.circleColorFilter {
  position: absolute;
  left: calc(167% - 0px);
  top: calc(167% - 0px);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.circleColorFilter:nth-child(1) {
  transform: translateX(18px);
}

.circleColorFilter:nth-child(2) {
  transform: rotate(72deg) translateX(18px);
}

.circleColorFilter:nth-child(3) {
  transform: rotate(144deg) translateX(18px);
}

.circleColorFilter:nth-child(4) {
  transform: rotate(216deg) translateX(18px);
}

.circleColorFilter:nth-child(5) {
  transform: rotate(288deg) translateX(18px);
}
.circleColorFilter:nth-child(6) {
  transform: rotate(288deg) translateX(0px);
  color: #c5c5c5;
  top: 21px;
  left: 20px;
}

/* CIRCULO GIRATORIO CON PALETA DE COLORES EN PARTIDAS PARA ELEGIR LA ICONOS  ===========================*/
.circleIcono {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 22px);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.circleIcono:nth-child(1) {
  transform: translateX(18px);
}

.circleIcono:nth-child(2) {
  transform: rotate(60deg) translateX(18px);
}

.circleIcono:nth-child(3) {
  transform: rotate(120deg) translateX(18px);
}

.circleIcono:nth-child(4) {
  transform: rotate(180deg) translateX(18px);
}

.circleIcono:nth-child(5) {
  transform: rotate(240deg) translateX(18px);
}

.circleIcono:nth-child(6) {
  transform: rotate(302deg) translateX(18px);
}

/* CIRCULO GIRATORIO CON PALETA DE COLORES EN PARTIDAS PARA ELEGIR LA ICONOS  ===========================*/
.circleIconoFiltrar {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(38% - 0px);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.circleIconoFiltrar:nth-child(1) {
  /* transform: rotate(0deg) translateX(18px); */
  transform: translateX(20px);
}

.circleIconoFiltrar:nth-child(2) {
  transform: rotate(60deg) translateX(20px);
}

.circleIconoFiltrar:nth-child(3) {
  transform: rotate(120deg) translateX(20px);
}

.circleIconoFiltrar:nth-child(4) {
  transform: rotate(180deg) translateX(20px);
}

.circleIconoFiltrar:nth-child(5) {
  transform: rotate(240deg) translateX(20px);
}

.circleIconoFiltrar:nth-child(6) {
  transform: rotate(300deg) translateX(20px);
}
.circleIconoFiltrar:nth-child(7) {
  transform: rotate(297deg) translateX(0px);
  color: crimson;
  top: 20px;
  left: 21px;
}

/* ubicacion del span  */

.spanUbi {
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(118deg);
  position: absolute;
  font-size: 1.2rem;
}

.spanUbi:hover {
  color: #ffc107;
  font-size: 1.2rem;
}

/* chat partidas  */

.chatContainer {
  display: none;
  position: fixed;
  bottom: 0px;
  right: auto;
  height: 329px;
  background-color: rgb(187, 187, 187);
  width: 274px;
  border: 1px solid #3a3b3c;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.chatHeader {
  background: #3a3b3c;
  padding: 1px;
  border-radius: 5px 5px 0px 0px;
}

.chatBody {
  height: 80%;
  overflow-y: scroll;
  color: #000;
  padding: 2px;
}

.chatBodyMensaje {
  background: #f1ba92e6;
  padding: 3px;
  border-radius: 7px;
}

.chatFooter {
  display: flex;
}

table.table thead th {
  position: sticky;
  top: 0px;
  background: #171819;
}

/* hover imagen btn */

.imgDelete {
  transition: auto;
}

.imgBtn {
  display: none;
}

.imgDelete:hover .imgBtn {
  display: block;
  background: #ff00008c;
  position: absolute;
  right: 16px;
  border-radius: 12px;
  color: #ff0000;
}

/* color de fondo para mayor metrado en partidas  */
.FondMM {
  background: #fffdfc1c;
}

.bg-mm {
  background: #171819;
}

/* piky selected ---------------------- ediciones */
.picky {
  width: 86% !important;
  /* position: initial!important; */
}

.bordeDerecho {
  border-right: 2px solid #3a3a3a;
}

/* hover en recursos */

.contentDataTd {
  cursor: pointer;
  /* background: yellowgreen; */
  transition: all 0.1s;
}

.ContIcon {
  display: none;
}

.ContIcon:hover {
  display: block;
  /* right: 47px; */
  position: relative;
}

.contentDataTd:hover > *[contenteditable="true"] {
  background-color: #1a028585;
  cursor: text;
  display: inline-block;
}

.divCodigoRecur {
  border: 1px solid #2676bb;
  padding: 4px;
  border-radius: 6px;
  margin: 2px;
  padding-top: 1px;
  cursor: pointer;
}

.divCodigoRecur:hover {
  border: 1px solid #2676bb;
  box-shadow: inset 0px -3px #2676bb;
  transition: all 0.5s;
}

/*  drag  */
.grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.NuevaOrdenCompra {
  background: rgb(57, 111, 136);
  background: linear-gradient(
    90deg,
    #dc3535ab 0%,
    #2676bb 50%,
    rgba(81, 136, 131, 0.2) 100%
  );
}

.btnCancelar {
  background: #ffffff5c;
  border-radius: 50%;
  cursor: pointer;
  color: red;
  padding: 4px;
}
.btnCancelar:hover {
  background: red;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

/* comentarios de partidas metrados diarios */

.comentario {
  width: 350px;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  position: relative;
  line-height: 20px;
  margin-left: 67px;
}
.comentario:nth-child(odd):before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #3966ab;
  position: absolute;
  top: 10px;
  left: -12px;
}

.comentario:nth-child(odd) {
  background: linear-gradient(to right, #3966ab, #3a3a3a);
}
.comentario:nth-child(even):after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #3a3c3f;
  position: absolute;
  top: 16px;
  left: -12px;
}
.comentario:nth-child(even) {
  background: linear-gradient(to right, #3a3a3a, #3966ab);
}
/* white table */
.whiteThem-table thead th {
  font-size: 10px;
  border: 1px solid black;
  padding: 0px 4px 0px 4px;
  text-align: center;
  background: #242526;
  border: 1px solid black;
}
.whiteThem-table tbody {
  background: #e8e8e8;
  color: black;
  border: 1px solid black;
}
.whiteThem-table tbody td,
.whiteThem-table tbody th {
  font-size: 11px;
  border: 1px solid black;
  padding: 0px 4px 0px 4px;
}
.whiteThem-table tbody th {
  background: #e8e8e8;
  font-weight: 700;
}
.whiteThem-table tbody td {
  background: #fffde5;
}
.whiteThem-table input,
.whiteThem-table select {
  height: 16px;
  font-size: 12px;
  line-height: 28px;
  border: none;
  padding: 0px;
}
.whiteThem-table-stickyTitulo {
  position: sticky;
  left: 80px;
  background: #242526;
}

/* Estilo para el scroll vertical */
::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #333; /* Color de fondo del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb del scrollbar */
  border-radius: 4px; /* Bordes redondeados del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb del scrollbar al pasar el mouse */
}
