.whiteThem-table thead th {
  font-size: 10px;
  border: 1px solid black;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 1;
}
.whiteThem-table tbody {
  background: white;
  color: black;
  border: 1px solid black;
}
.whiteThem-table tbody td,
.whiteThem-table tbody th {
  padding: 0px;
  font-size: 11px;
  vertical-align: top;
  border: 1px solid black;
}
.whiteThem-table tbody th {
  background: #c6c8ca;
  font-weight: 700;
  border: 1px solid black;
  text-align: right;
}
.whiteThem-table tbody td {
  background: white;
  border: 1px solid black;
  text-align: right;
}
.whiteThem-table input,
.whiteThem-table select {
  height: 16px;
  font-size: 12px;
  text-align: right;
  line-height: 28px;
  border: none;
  padding: 0px;
}
